  @import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     scroll-behavior: smooth;
}

body{
    background-color: #F1EEE7;
}
.logo{
    font-family: 'Pinyon Script', cursive;
    font-size: 2.3rem;
    margin: 20px 0;
    cursor: pointer;

    background: -webkit-linear-gradient(#dd7e2f, #6d402f,rgb(241, 241, 39));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
section{
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
}
section nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    right: 0;
    left: 0;
    background-color: #F8F6F3;
    box-shadow: 0 0 12px rgba(0, 0, 0, .5);
    z-index: 100;

  
}
nav ul{
    list-style: none;
}
nav ul li{
    display: inline-block;
    margin: 0 15px;

}
nav li a{
    text-decoration: none;
    color: #6a3f1c;
    font-size: 18px;
    font-weight: 700;

}
nav li a::after{
    content: '';
    width: 0;
    height: 2.3px;
    background: orange;
    display: block;
    transition: .2s linear;
}
nav li a:hover::after{
    width: 100%;
}
nav li a:hover{
    color: orange;
}

nav .log_btn{
    width: 120px;
    background-color: #dd7e2f;
    font-family: sans-serif;
    padding: 12px 20px;
    text-align: center;
    border-radius: 25px;
    cursor: pointer;
    transition: .3s;
}
nav .log_btn a{
    text-decoration: none;
    color: #F8F6F3;
    font-weight: 540;
}
nav .log_btn i{
    transition: .3s;
}
nav .log_btn:hover{
    background-color:#6d402f;

}
nav .log_btn:hover i{
    transform: translateX(7px);
}




.main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 120px;
    
}
.main .main_content{
    position: relative;
    top: -110px;
    left: 90px;
}
.main .main_content div{
    display: flex;

}
.main_content .super{
    font-family: 'Pinyon Script', cursive;
    color: rgb(73, 70, 70);
    font-size: 2rem;

}
.main_content .super span{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 550;
    color: #6d402f;

    font-size: 5rem;
    text-transform: uppercase;
    padding: 40px 0;

}
.main_content .burger{
    width: 440px;
    height: 200px;
    position: relative;

}
.main_content .solg p{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 550;
    font-size: 30px;
    text-transform: uppercase;
    padding-left: 20px;
    color: rgb(96, 88, 88);
}


.main .image img{
    height: 100vh;
    position: relative;
    top: -70px;
    left: 90px;
    animation: shake-vibrate 4s linear infinite;
}

@keyframes shake-vibrate {
    0%, 100% {
      transform: translateX(0) translateY(0);
    }
    25% {
      transform: translateX(-3.5px) translateY(-3.5px);
    }
    50% {
      transform: translateX(3.5px) translateY(3.5px);
    }
    75% {
      transform: translateX(-3.5px) translateY(-3.5px);
    }
  }

section .main_btn{
    background: #ecb427;
    position: relative;
    left: 270px;
    bottom: 130px;
    width: 150px;
    cursor: pointer;
    padding: 12px 20px;
    text-align: center;
    border-radius: 10px;
    transition: .3s;

}
section .main_btn a{
    text-decoration: none;
    color: #F8F6F3;
    font-weight: 550;
}
section .main_btn i{
    color: #F8F6F3;
    font-weight: 550;
    transition: .3s;
}
section .main_btn:hover{
    background-color:#6d402f;
    
}
section .main_btn:hover i{
    transform: translateX(8px);
}




/* about */

.about{
    width: 100%;
    height: 100vh;

}
.abt_main{
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.abt_main .image img{
    animation: shake 5s linear infinite;
   height: 80vh;
    position: relative;
    top: 70px;
    left: 0;
}
@keyframes shake {
    0%, 100% {
        transform: translateX(0);
      }
      25%, 75% {
        transform: translateX(-6px);
      }
      50% {
        transform: translateX(6px);
      }
    
}
.abt_content{
    font-family: 'Alice', serif;
    width: 100%;
    margin-top: 40px;
}

.abt_content h1{
    font-weight: 750;
    color: #dd7e2f;
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;

} 

.abt_content h2{
    font-weight: 600;
    color: #6a3f1c;
    font-size: 30px;
   
}  
.abt_content p{
    font-family: sans-serif;
    color: rgb(96, 88, 88);
    font-weight: 300;
    font-size: 25px;
    padding: 30px;
   
}
.abt_btn{
    font-family: sans-serif;
    background: #ecb427;
    width: 150px;
    padding: 12px 20px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: .3s;
    margin-left: 30px;

}
.abt_btn a,i{
    text-decoration: none;
    color: #F8F6F3;
    font-weight: 570;
    
}
.abt_btn i{
    transition: .3s;
}
.abt_btn:hover{
    background-color:#6d402f;
    
}
.abt_btn:hover i{
    transform: translateX(8px);
}


/* menu */

.menu{
    width: 100%;
    padding: 70px 0;
}
.menu h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Alice', serif;
    margin: 20px 0;
    font-weight: 750;
    color: #dd7e2f;
    font-size: 50px;
    position: relative;
 
}

.menu_pack{
    font-family: sans-serif;
    width: 90%;
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;

}

.menu_pack .menu_card{
    width: 325px;
    height: 500px;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,.2);
    border-radius: 20px;
}
.menu_pack .menu_card .menu_img{
    width: 300px;
    height: 245px;
    margin: 0 auto;
    padding: 13px;
    overflow: hidden;
}

.menu_pack .menu_card .menu_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.3s;
    border-radius: 10px;

}
.menu_pack .menu_card .menu_img:hover img{
    transform: scale(1.1);
}

.menu_card .menu_content{
    padding: 15px;
}
.menu_card .menu_content h2{
    color: #6d402f;
    font-weight: 720;
    margin-bottom: 10px;
}
.menu_card .menu_content p{
    font-size: 14px;
    margin-bottom: 10px;

}
.menu_card .menu_content h3{
    font-weight: 900;
    font-size: 18px;
}
.menu_card .menu_content .menu_btn{  
    font-family: sans-serif;
    background: #ecb427;
    width: 120px;
    padding: 8px 10px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    transition: .3s;
    margin-left: 75px;
    margin-top: 20px;
}

.menu_card .menu_content .menu_btn a{
    text-decoration: none;
    color: #F8F6F3;
}
.menu_card .menu_content .menu_btn:hover{
    background: #6d402f;
}



/* Gallary */


.gallary{
    width: 100%;
    padding: 70px 0;
   
}
.gallary h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Alice', serif;
    font-weight: 750;
    color: #dd7e2f;
    font-size: 50px;
    margin: 20px 0;
    position: relative;
}

.gallary .gal_pack{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    width: 95%;
    margin: 10px auto;
}
.gal_pack .gal_img{
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,6);


}
.gal_pack .gal_img img{
    width: 100%;
    transition: .3s;
    border-radius: 10px;

}
.gal_pack .gal_img:hover img{
    opacity: .4;

}
.gal_pack .gal_img h3{
    position: absolute;
    margin-bottom: 130px;
    color: #fac031;
    font-size: 36px;
    z-index: 5;
    opacity: 0;
    transition: 0.3s;
}
.gal_pack .gal_img p{
    font-family: sans-serif;
    position: absolute;
    width: 350px;
    color: #F8F6F3;
    text-align: center;
    z-index: 5;
    opacity: 0;
    transition: .3s;
}
.gal_pack .gal_img:hover h3{
    opacity: 1;
}
.gal_pack .gal_img:hover p{
    opacity: 1;
}

/* Review */

.review{
    width: 100%;
    height: 100vh;
    padding: 70px 0;
}
.review h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Alice', serif;
    font-weight: 750;
    color: #dd7e2f;
    font-size: 50px;
    margin: 20px 0;
    padding-bottom: 20px;
    position: relative;
}
.review .rev_pack{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    width: 90%

}
.rev_pack .rev_card{
    width: 350px;
    height: 560px;
    padding: 10px;
    margin: 0 8px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0, 1.1);
    border-radius: 10px;
}
.rev_pack .rev_card .rev_img{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: .3s;
}
.rev_pack .rev_card .rev_img img{
    width: 180px;
    height: 180px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border: 5px solid #b38762;
}
.rev_pack .rev_card:hover .rev_img{
    transform: translateY(-40px);

}
.rev_pack .rev_card .rev_content{
    text-align: center;
}
.rev_pack .rev_card .rev_content .name{
    font-family: sans-serif;
    margin-top: 10px;
    color: #353030;
    transition: .3s;
}
.rev_pack .rev_card:hover .name{
    transform: translateY(-30px);
}
.rev_pack .rev_card .rev_content .rev_icon i{
    color: #fac031;
    transition: 0.3s;
    margin: 8px 0;
}
.rev_pack .rev_card:hover i{
    transform: translateY(-30px);
}

.rev_pack .rev_card .rev_content .rev_social i{
        cursor: pointer;
        font-size: 15px;
        margin: 0 1px;
        color: black;
        opacity: 0;
        transition: .3s;
    }

.rev_pack .rev_card .rev_content .rev_social a{
        text-decoration: none;
        letter-spacing: 8px;
    }

.rev_pack .rev_card:hover .rev_social i{
    opacity: 1;
    transform: translateY(-8px);

}
.rev_pack .rev_card .rev_content p{
    font-family: sans-serif;
    text-align: center;
    line-height: 22px;
    transition: 0.3s;
}

.review .rev_pack .rev_card:hover .rev_content p{
    margin-top: 5px;
}

/* Order */

.order{
    width: 100%;
    height: 100vh;
    padding: 60px 0;
}
.order h1{
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Alice', serif;
    font-weight: 750;
    color: #dd7e2f;
    font-size: 40px;
    padding-top: 10px;
    margin: 20px 0;
    position: relative;
}
.order .order_pack{
    display: flex;
    align-items: center;
    justify-content: center;
}
.order_pack .order_img{
    position: relative;
    left: -220px;
    top: -120px;
    width: 630px;
    height: 700px;
}

.order_pack form{
    display: grid;
    grid-template-columns: auto;
    grid-gap: 5px 10px;

    position: relative;
    top: -80px;
    width: 420px;
    padding: 20px 25px;
    border-radius: 17px;
    box-shadow: 0 0 15px rgba(0,0,0,6);
    font-family: sans-serif;
    background-color:#e4d9c7 ;

}

.order_pack form input, select{
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
}

.order_pack form button{
    padding: 12px 20px;
    border-radius: 7px;
    border: none;
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    color: #F8F6F3;
    background: #e89754;
    font-weight: 550;
    transition: .3s;
}
.order_pack form button:hover{
    background: green;
}

/* footer */

footer{
    width: 100%;
    font-family: sans-serif;
}

footer .footer_main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background: #d3c8c8;
    padding: 20px;
    position: relative;
    top: 220px;
}

footer .footer_main .footer_tag{
    text-align: center;
}

footer .footer_main .footer_tag h2{
    color: #000;
    margin-bottom: 25px;
    font-size: 30px;
}

footer .footer_main .footer_tag .quick_link a{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
    transition: .3s;

}

footer .footer_main .footer_tag p,a{
    margin: 10px 0;
}
.footer_main .footer_tag a{
    text-decoration: none;
}

footer .footer_main .footer_tag a{
    margin: 0 5px;
    cursor: pointer;
    color: black;
}

footer .footer_main .footer_tag a:hover{
    color: #db6e25;
}
footer .footer_main .footer_tag i{
    transition: .3s;
    font-size: 18px;
}

footer .footer_main .footer_tag i:hover{
    color: #db6e25;
    transform: translateY(-7px);
}

footer .end {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin-top: 5px;
    position: relative;
    bottom: -180px;
}
footer .end span a{
    text-decoration: none;}

footer .end span a{
    color: #b4352c;
    margin-left: 10px;
    cursor: pointer;
}
footer .end span a:hover{
    color: #421f89;
}




/* Responsive */

@media only screen and (max-width:376px) {
    .main .image{
       display: none;
    }
    .main .main_content{
        position: relative;
        top: 60px;
        left: 65%;
    }
    section .main_btn{
        position: relative;
        top: 220px;
        left: 85%;
    }

    .abt_main .image img{
        width: 320px;
       height: 50vh;
        position: relative;
        top: 30px;
        left: 180px;
    }
    .abt_content{
       position: relative;
       right: -200px;


    }
    .abt_content h1{
    font-size: 40px;
    }
    .abt_content h2{
        font-size: 20px;
    }

    .abt_content p{
        width: 480px; 
        font-size: 20px;
    }
    .menu{
        position: relative;
        top: -180px;
    }
    .menu h1{
        position: relative;
        left: 70%;
    }
    .menu_pack{
        width: 55%;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }


    .gallary .gal_pack{
        width: 80%;
        grid-template-columns: 1fr 1fr;
    }
    
    .gal_pack .gal_img img{
        width: 380px;
    }
    .gallary{
    position: relative;
    top: -160px;}

    .gallary h1{
        left: 70%;
    }
    .gal_pack .gal_img h3{
        font-size: 30px;
        text-align: center;
        width: 100%;
    }
    .review h1{
        font-size: 40px;
}
    .review .rev_pack{
        grid-template-columns: 1fr 1fr;
        width: 55%;
    }


}
